nav {
    padding: 15px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    border-radius: 15px;
    width: 100%;
    position:fixed;
    
  }

.navFont {
    font-size: 20px;
    font-weight: 700;
}

.flex-1 {
    flex : 1;
}